PORT=

MONGO_URI=

REDIS_URI=

SALT_ROUNDS=

ENCRYPTION_KEY=

JWT_EXPIRY=
JWT_ISSUER=
JWT_SIGNATURE_ADMIN=
JWT_SIGNATURE_USER=

EMAIL_USER=
EMAIL_PASS=
EMAIL_SECRET=

RATE_LIMIT_COUNT=
RATE_LIMIT_TIME=

CORS_ORIGINS=