PORT=

MONGO_URI=

REDIS_URI=

SALT_ROUNDS=

ENCRYPTION_KEY=

JWT_EXPIRY_ACCESS=
JWT_EXPIRY_REFRESH=
JWT_ISSUER=
JWT_SIGNATURE_ADMIN_ACCESS=
JWT_SIGNATURE_ADMIN_REFRESH=
JWT_SIGNATURE_USER_ACCESS=
JWT_SIGNATURE_USER_REFRESH=

EMAIL_USER=
EMAIL_PASS=
EMAIL_SECRET=

RATE_LIMIT_COUNT=
RATE_LIMIT_TIME=

CORS_ORIGINS=